.Pencere{
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:1;
    margin:50px;
    visibility:visible;
}
.Gizle{
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:0;  
    margin:0px;
    visibility: hidden;
    height: 0 !important;
}

 