.search_box_non_visible{
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:1;
    width:350px;
    visibility:visible;
}
.search_box_visible{
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:0;  
    width:0;
    visibility: hidden;
    height:50px;
}
.search_box_modal__non_visible{
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:1;
    visibility:visible;
    width:300px;
    height:35px;
    position:"absolute";
    bottom:0;
    z-index:99999;
}
.search_box_modal_visible{
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:0;  
    width:0;
    visibility: hidden;
    height:50px;
}
.modal_box{
    margin-top:12px;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
}


.modal_body{
    width:350px;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:1;    
}
.modal_body_visible{
    width:350px;
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity:0;  
    visibility: hidden;  
}